body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1928px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1010_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1921px;
  height:2px;
}
#u1010 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:6px;
  width:1920px;
  height:1px;
}
#u1010_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1011_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:1081px;
}
#u1011 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:6px;
  width:1px;
  height:1080px;
}
#u1011_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1012_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1921px;
  height:2px;
}
#u1012 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:1086px;
  width:1920px;
  height:1px;
}
#u1012_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1013_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:1081px;
}
#u1013 {
  border-width:0px;
  position:absolute;
  left:1927px;
  top:7px;
  width:1px;
  height:1080px;
}
#u1013_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1014_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:623px;
  height:415px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1014 {
  border-width:0px;
  position:absolute;
  left:657px;
  top:237px;
  width:623px;
  height:415px;
}
#u1014_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1015_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1015 {
  border-width:0px;
  position:absolute;
  left:904px;
  top:265px;
  width:129px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1015_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u1016_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1016 {
  border-width:0px;
  position:absolute;
  left:753px;
  top:359px;
  width:41px;
  height:24px;
  font-size:20px;
}
#u1016_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u1017 {
  border-width:0px;
  position:absolute;
  left:860px;
  top:351px;
  width:324px;
  height:40px;
}
#u1017_input {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1018_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1018 {
  border-width:0px;
  position:absolute;
  left:753px;
  top:439px;
  width:41px;
  height:24px;
  font-size:20px;
}
#u1018_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u1019 {
  border-width:0px;
  position:absolute;
  left:860px;
  top:431px;
  width:324px;
  height:40px;
}
#u1019_input {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1020_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:54px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1020 {
  border-width:0px;
  position:absolute;
  left:753px;
  top:558px;
  width:431px;
  height:54px;
  font-size:20px;
}
#u1020_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:427px;
  word-wrap:break-word;
}
#u1021 {
  border-width:0px;
  position:absolute;
  left:860px;
  top:505px;
  width:218px;
  height:22px;
  font-size:18px;
}
#u1021_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u1021_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1022_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:98px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:18px;
}
#u1022 {
  border-width:0px;
  position:absolute;
  left:657px;
  top:682px;
  width:376px;
  height:98px;
  font-size:18px;
}
#u1022_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:356px;
  word-wrap:break-word;
}
