body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1928px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1921px;
  height:2px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:6px;
  width:1920px;
  height:1px;
}
#u1_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:1081px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:6px;
  width:1px;
  height:1080px;
}
#u2_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1921px;
  height:2px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:1086px;
  width:1920px;
  height:1px;
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:1081px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:1927px;
  top:7px;
  width:1px;
  height:1080px;
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:623px;
  height:415px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:657px;
  top:237px;
  width:623px;
  height:415px;
}
#u5_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:904px;
  top:265px;
  width:129px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u7_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:753px;
  top:359px;
  width:41px;
  height:24px;
  font-size:20px;
}
#u7_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:860px;
  top:351px;
  width:324px;
  height:40px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u9_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:753px;
  top:439px;
  width:41px;
  height:24px;
  font-size:20px;
}
#u9_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:860px;
  top:431px;
  width:324px;
  height:40px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u11_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:54px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:753px;
  top:558px;
  width:431px;
  height:54px;
  font-size:20px;
}
#u11_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:427px;
  word-wrap:break-word;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:860px;
  top:505px;
  width:218px;
  height:22px;
  font-size:18px;
}
#u12_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u12_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u13_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:98px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:18px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:657px;
  top:682px;
  width:376px;
  height:98px;
  font-size:18px;
}
#u13_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:356px;
  word-wrap:break-word;
}
